
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }

    #login-container {
      display: flex;
      width: 600px;
      background-color: #cba091;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
    }

    #logo-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
      background-color: #cba091;
      
    }

    #login-text {
      display: flex;
      justify-content: center;
    }

    #login-form {
      flex: 1;
      padding: 20px;
    }

    #login-form input {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      box-sizing: border-box;
    }

    #login-form button {
      width: 100%;
      padding: 10px;
      background-color: #c26948;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    #join-container {
      display: flex;
      justify-content: center;
    }
