/* privacy.css */

body {
    background-color: #c88f7a;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.wholepage {
    float: left;
    width: 100%;
    padding: 10px;
}

.row1 {
    height: 5vh;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white; /* Set text color to white */
}

#p1 {
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Set font weight to bold */
    margin: 0; /* Remove default margin */
}

.row2 {
    height: 60vh;
    width: 100%;
    background-color: #c88f7a;
    box-sizing: border-box;
    margin: 1px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: auto;
}

.privacy-content {
    padding: 10px;
    height: 100%;
}

/* Add additional styles as needed */
.topnav{
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 100;
    width: auto;
}

.topnav img{
    flex: 1;
    float: left;
    background: transparent;
    padding-left: 1%;
    max-width: 100%;
    height: auto;
}

.topnav a{
    flex: 2;
    background-color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    border-radius: 10px;
    margin: 10px;
    max-width: 100;
    width: auto;
}

.topnav button{
    flex: 2;
    border-radius: 10px;
    font-size: 17px;
    padding: 14px 16px;
}

.topnav a:hover{
    background-color: black;
    color: white;
}

.topnav input[type=text]{
    flex: 3;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

footer {
    text-align: center;
}